
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

  body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
  /* Style cho Modal */
.modal {
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa các items theo chiều ngang */
  justify-content: center; /* Căn giữa các items theo chiều dọc */
  text-align: center; /* Đảm bảo rằng văn bản nằm ở giữa */
  position: relative;
  background-color: #fefefe;
  margin: 10% auto; /* Giảm khoảng cách từ trên xuống để modal hiển thị ở gần giữa hơn */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Bạn có thể điều chỉnh chiều rộng tùy ý */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% từ trên cùng và giữa màn hình */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Chiều rộng tối đa */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Thêm Animation */
@keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#retryButton {
  margin-top: 20px;
  background-color: #f44336; /* Màu đỏ */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#retryButton:hover {
  background-color: #d32f2f; /* Màu đỏ đậm */
}

  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    line-height: inherit;
  }

  h1,h2,h3,h4 {
    letter-spacing: -1px;
  }

  h5 {
    font-weight: 500;
  }

  h1 {
    color: #252525;
    font-size: 5em;
  }

  h2 {
    color: #272727;
    font-size: 3em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.8em;
    line-height: 1.2em;
    margin-bottom: 0;
  }

  h4 {
    color: #454545;
    font-size: 1.8em;
    padding-bottom: 2px;
  }

  h6 {
    letter-spacing: 0;
    font-weight: normal;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }

  .large-icon {
    
    font-size: 30px; /* Đặt kích thước mong muốn của biểu tượng */
  }
  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }
  .calendar-container {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Thêm khoảng cách giữa dòng tháng và dòng thứ */
}
.month h3 {
    text-align: center;
    color: #333;
    margin: 0;
}

/* Nút chuyển tháng */
.prev, .next {
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 18px;
}
.prev:hover, .next:hover {
  background-color: #a5c422;
}
/* -------------------------------- */
/* Chú thích và nút xác nhận đặt ngày */
.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-color {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.available {
  background-color: #000;
}

.unavailable {
  background-color: #ccc;
}

.confirm-date {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  width: 100%;
}

.confirm-date:hover {
  background-color: #45a049;
}
.date.active:hover {
  background-color: #4CAF50; /* Màu xanh lá cho hover */
  color: white; /* Màu chữ trắng */
  cursor: pointer; /* Thay đổi con trỏ để người dùng biết có thể click */
}
/* Style cho ngày được chọn */
.date.selected {
  background-color: #4CAF50; /* Màu xanh lá cho ngày được chọn */
  color: white; /* Màu chữ trắng */
}
/* -------------------------------- */
.days, .dates {
    display: flex;
    flex-wrap: wrap;
}

.day, .date {
    width: 14.28%;
    text-align: center;
    margin: 5px 0;
}

.date {
    cursor: pointer;
    padding: 10px 0;
}

.disabled {
    color: #ccc;
    pointer-events: none;
}

.active {
    color: #000;
}
  a {
    color: #252525;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }

  a:hover, a:active, a:focus {
    color: #a5c422;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
  }

  .section-title {
    padding-bottom: 20px;
  }

  .section-title h2 {
    margin-top: 0;
  }

  .section-btn {
    background: #a5c422;
    border: 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: inherit;
    font-weight: 500;
    padding: 14px 20px;
    transition: transform 0.1s ease-in;
     transform: translateX(0);
  }

  .section-btn:hover {
    transform: translateY(-5px);
  }

  .text-align-right {
    text-align: right;
  }

  .text-align-center {
    text-align: center;
  }
  /* Giới thiệu bác sĩ*/
  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Đảm bảo các phần tử bắt đầu ở cùng một điểm từ trên xuống */
}

.left-column {
    flex: 2; /* Cho phép cột trái chiếm không gian lớn hơn nếu cần */
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa các phần tử trong cột */
}

.doctor-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Khoảng cách giữa giới thiệu bác sĩ và bảng chọn ngày */
}
.doctor-profile {
  display: flex;
  align-items: center; /* Đảm bảo hình ảnh và tên bác sĩ căn giữa với nhau */
}

.clinic-information {
    flex: 1; /* Cho phép cột phải chiếm không gian ít hơn */
    /* CSS cho clinic-information giữ nguyên */
}


/* Tiếp tục với CSS cho các phần tử khác giữ nguyên */

  .doctor-introduction, .clinic-information {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.doctor-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.doctor-location {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.fa-map-marker {
    margin-right: 5px;
    color: #007bff;
}

.clinic-information h3, .doctor-introduction h3 {
    color: #007bff;
}

.promotion {
    color: #ffd700;
}

.detail-link {
    color: #007bff;
    text-decoration: none;
}

.detail-link:hover {
    text-decoration: underline;
}
  .border-top {
    border-top: 1px solid #f2f2f2;
    margin-top: 4em;
    padding-top: 2.5em;
  }

  .btn-gray {
    background: #393939;
  }

  .btn-blue {
    background: #4267b2;
  }

  .news-thumb {
    background: #ffffff;
    border-radius: 10px;
  }
  .news-thumb img {
    border-radius: 10px 10px 0 0;
  }

  .news-info {
    padding: 30px;
    text-align: left;
  }
  .news-info span {
    display: block;
    letter-spacing: 0.5px;
  }
  .news-info h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .author {
    border-top: 1px solid #f0f0f0;
    padding-top: 1.5em;
    margin-top: 2em;
  }
  .author img,
  .author .author-info {
    display: inline-block;
    vertical-align: top;
  }
  .author-info h5 {
    margin-bottom: 0;
  }
  .author img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }


  #about, #team, #news,
  #news-detail {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #news, #service {
    text-align: center;
  }

  #google-map {
    line-height: 0;
    margin: 0;
    padding: 0;
  }


  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }



  /*---------------------------------------
      MENU              
  -----------------------------------------*/

  header {
    background: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    height: 45px;
  }

  header .col-md-8 {
    padding-right: 0;
  }

  header p,
  header span {
    font-size: 12px;
    line-height: 24px;
    padding-top: 12px;
  }

  header a,
  header span {
    color: #747474;
  }

  header span {
    font-weight: 500;
    display: inline-block;
    padding: 11px 15px;
  }

  header span.date-icon {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    padding-right: 19px;
    padding-left: 19px;
  }

  header span i {
    color: #a5c422;
    margin-right: 5px;
  }



  /*---------------------------------------
      MENU              
  -----------------------------------------*/

  .navbar-default {
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,.075);
    border: none;
    margin-bottom: 0;
    padding: 10px;
  }
 
  .navbar-default .navbar-brand {
    color: #a5c422;
    font-weight: 1000;
    font-size: 25px;
  }

  .navbar-default .navbar-brand .fa {
    color: #a5c422;
  }
  .navbar-default .navbar-nav .dropdown-menu li {
    margin-bottom: 10px;
  }
 
  .navbar-default .navbar-nav .avatar {
    width: 30px; /* Điều chỉnh kích thước nếu cần */
    height: 30px; /* Điều chỉnh kích thước nếu cần */
    border-radius: 50%; /* Làm cho hình ảnh hồ sơ tròn */
    float: left; /* Di chuyển avatar sang trái */
    margin-left: -10px; /* Di chuyển avatar sang trái 10px */
    margin-top: -5px;
}
.navbar-default .navbar-nav .doctor-avatar {
  width: 30px; /* Điều chỉnh kích thước nếu cần */
  height: 30px; /* Điều chỉnh kích thước nếu cần */
  border-radius: 50%; /* Làm cho hình ảnh hồ sơ tròn */
  margin-right: 5px;
}
  
.navbar-default .navbar-nav .dropdown-menu a {
    white-space: nowrap; /* Tránh ngắn chữ xuống dòng */
    display: block;
    padding: 10px 20px; /* Điều chỉnh lề và padding tùy theo nhu cầu */
}
  .navbar-default .navbar-nav li.login-btn {
    margin: 3px 0 0 20px;
  }

  .navbar-default .navbar-nav li.login-btn a {
    background: #a5c422;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .navbar-default .navbar-nav li.login-btn a:hover {
    background: #4267b2;
    color: #ffffff !important;
  }

  .navbar-default .navbar-nav li a {
    color: #555555;
    font-size: 12px;
    font-weight: 500;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }

  .navbar-default .navbar-nav > li a:hover {
    color: #4267b2 !important;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #555555;
    background-color: transparent;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #393939;
    background-color: transparent;
  }

  .navbar-default .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background: #393939;
    border-color: transparent;
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus { 
    background-color: transparent;
  }



  /*---------------------------------------
      HOME              
  -----------------------------------------*/

  #home h1 {
    color: #ffffff;
    padding-bottom: 10px;
    margin-top: 0;
  }

  #home h3 {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: inherit;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 10px;
  }
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.search-input {
    height: 50px;
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-right: 5px;
    text-indent: 10px;
}

.search-button {
    padding: 10px 15px;
    background: #a5c422;
    border: 0;
    border-radius: 30%;
    color: #fff;
    cursor: pointer;
}
  .slider .container {
    width: 100%;
  }

  .slider .owl-dots {
      position: absolute;
      top: 575px;
      width: 100%;
      justify-content: center;
  }
  #doctor-container .doctor-container {
    overflow-x: auto; /* Tạo thanh cuộn ngang khi nội dung vượt quá kích thước của container */
    white-space: nowrap; /* Ngăn các phần tử con xuống dòng khi vượt quá kích thước */
}

#doctor-container .doctor-container .col-md-4 {
    display: inline-block; /* Hiển thị các bác sĩ trên cùng một hàng */
    margin-bottom: 20px; /* Khoảng cách giữa các bác sĩ */
    vertical-align: top; /* Đảm bảo các phần tử con nằm trên cùng một dòng */
}
  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 7px;
    border: 2px solid #d9d9d9;
    background: transparent;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ffffff;
    border-color: transparent;
  }

  .slider .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(20,20,20,0.2);
    height: 100%;
    color: #fff;
    cursor: e-resize;
  }

  .slider .item {
    background-position: inherit;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 650px;
  }

  .slider .item-first {
    background-image: url(../images/slider1.jpg);
  }

  .slider .item-second {
    background-image: url(../images/slider2.jpg);
  }

  .slider .item-third {
    background-image: url(../images/slider3.jpg);
  }


  /*---------------------------------------
      ABOUT              
  -----------------------------------------*/

  #about {
    background: url('../images/about-bg.jpg') no-repeat top center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .profile img,
  .profile figcaption {
    display: inline-block;
    vertical-align: top;
    margin-top: 1em;
  }
  .profile img {
    border-radius: 100%;
    width: 65px;
    height: 65px;
    margin-right: 1em;
  }
  .profile figcaption h3 {
    margin-top: 0;
  }

  #about h6 {
    color: #858585;
    margin: 0;
  }



  /*---------------------------------------
      TEAM MEMBERS              
  -----------------------------------------*/

  .team-thumb {
    background-color: #f9f9f9;
    border-radius: 0 0 10px 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .team-info {
    padding: 20px 30px 0 30px;
  }

  .team-contact-info {
    border-top: 1px solid #e9e9e9;
    padding-top: 1.2em;
    margin-top: 1.5em;
  }

  .team-contact-info .fa {
    margin-right: 5px;
    display: inline-block;
  }

  .team-contact-info p {
    margin-bottom: 2px;
  }

  .team-contact-info a {
    color: #757575;
  }

  .team-thumb .social-icon li {
    font-weight: 500;
  }

  .team-thumb .social-icon li a {
    background: #ffffff;
    border-radius: 100%;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 2px 0 2px;
  }

  .team-thumb .social-icon {
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s 0.2s;
    text-align: center;
    position: relative;
    top: 0;
  }

  .team-thumb:hover .social-icon {
    opacity: 1;
    transition-delay: 0.3s;
    transform: translateY(0px);
    top: -22em;
  }



  /*---------------------------------------
     SERVICE              
  -----------------------------------------*/

  #service {
    background: #a5c422;
  }

  #service h2,
  #service h4 {
    color: #ffffff;
  }

  #service p {
    color: #d9d9d9;
  }

  #service .service-thumb {
    padding: 0 22px;
  }

  #service .fa {
    font-size: 50px;
    margin-bottom: 10px;
    background: #ffffff;
    color: #a5c422;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 100%;
  }


  /*---------------------------------------
      NEWS             
  -----------------------------------------*/

  #news, #news-detail {
    background: #f9f9f9;
  }

  #news-detail blockquote {
    margin: 30px 0;
  }

  .news-detail-thumb .news-image img {
    border-radius: 10px;
  }

  .news-detail-thumb h3 {
    margin-bottom: 8px;
  }

  .news-image {
    margin-bottom: 30px;
    position: relative;
  }

  .news-image img {
    width: 100%;
  }

  .news-detail-thumb ul {
    margin: 32px 12px 22px 0px;
  }

  .news-detail-thumb ul li {
    list-style: circle;
    font-weight: normal;
    padding: 6px 12px 6px 0px;
  }

  .news-sidebar {
    margin-top: 16px;
  }

  .news-social-share {
    text-align: center;
    padding-top: 22px;
  }

  .news-social-share .btn {
    border-radius: 100px;
    border: none;
    font-size: 10px;
    font-weight: 600;
    margin: 2px 6px;
    padding: 8px 14px;
  }

  .news-social-share .btn-primary {
    background: #3b5998;
  }

  .news-social-share .btn-success {
    background: #1da1f2;
  }

  .news-social-share .btn-danger {
    background: #dd4b39;
  }

  .news-social-share a .fa {
    padding-right: 4px;
  }

  .recent-post {
    padding-top: 2px;
    padding-bottom: 18px;
  }

  .recent-post .media img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-right: 5px;
  }

  .recent-post .media-heading {
    font-size: 16px;
    font-weight: 500;
    line-height: inherit;
    margin-top: 5px;
  }

  .news-categories {
    margin-top: 8px;
  }

  .news-categories li a {
    color: #2b2b2b;
  }

  .news-ads {
    background: #ffffff;
    border-right: 4px solid #2b2b2b;
    padding: 42px;
    text-align: center;
    margin: 26px 0 26px 0;
  }

  .news-ads.sidebar-ads {
    border-left: 4px solid #2b2b2b;
    border-right: 0px;
  }

  .news-ads h4 {
    font-size: 18px;
  }

  .news-tags h4 {
    padding-bottom: 6px;
  }

  .news-categories li,
  .news-tags li {
    list-style: none;
    display: inline-block;
    margin: 4px;
  }

  .news-tags li a {
    background: #393939;
    border-radius: 50px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    float: left;
    min-width: 30px;
    padding: 6px 12px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }

  .news-tags li a:hover {
    background: #4267b2;
  }



  /*---------------------------------------
      APPOINTMENT             
  -----------------------------------------*/

  #appointment {
    padding-top: 100px;
  }

  #appointment label {
    color: #393939;
    font-weight: 500;
  }

  #appointment .form-control {
    background: #f9f9f9;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
    transition: all ease-in-out 0.4s;
  }

  #appointment input,
  #appointment select {
    height: 45px;
  }

  #appointment button#cf-submit {
    background: #a5c422;
    color: #ffffff;
    font-weight: 600;
    height: 55px;
  }

  #appointment button#cf-submit:hover {
    background: #393939;
    color: #ffffff;
  }


  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  footer {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  footer h4 {
    padding-bottom: 5px;
  }

  footer a {
    color: #757575;
  }

  footer a:hover {
    color: #4267b2;
  }

  .contact-info {
    padding-top: 10px;
  }

  .contact-info .fa {
    background: #393939;
    border-radius: 100%;
    color: #ffffff;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 2px;
  }

  .latest-stories {
    margin-bottom: 20px;
  }

  .stories-image,
  .stories-info {
    display: inline-block;
    vertical-align: top;
  }

  .stories-image img {
    border-radius: 100%;
    width: 65px;
    height: 65px;
  }

  .stories-info {
    margin-left: 15px;
  }

  .stories-info h5 {
    margin-bottom: 2px;
  }

  .stories-info span {
    color: #858585;
    font-size: 12px;
  }

  .opening-hours p {
    line-height: 18px;
  }

  .opening-hours span {
    font-weight: 500;
    display: inline-block;
    padding-left: 10px;
  }

  .copyright-text p,
  .footer-link a {
    color: #858585;
    font-size: 12px;
    font-weight: 500;
  }

  .footer-link a {
    font-size: 12px;
    display: inline-block;
    padding: 0 10px;
    margin-top: 4px;
  }

  .angle-up-btn {
    position: relative;
    bottom: 4em;
    display: block;
  }

  .angle-up-btn a {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    font-size: 20px;
    color: #393939;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 38px;
    transition: transform 0.1s ease-in;
    transform: translateX(0);
  }

  .angle-up-btn a:hover {
    background: #4267b2;
    color: #ffffff;
    transform: translateY(-5px);
  }


  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a {
    border-radius: 100px;
    color: #464646;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
  }

  .social-icon li a:hover {
    background: #4267b2;
    color: #ffffff;
  }
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.doctors-scroll {
  display: flex;
  overflow-x: auto;
  padding: 20px 0;
}

.doctor-item {
  flex: 0 0 auto;
  width: 200px;
  margin-right: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.doctor-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
}

.doctor-item h2 {
  font-size: 16px;
  color: #333;
}

.doctor-item p {
  font-size: 14px;
  color: #666;
}

  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media only screen and (max-width: 1200px) {
    h1 {
      font-size: 4em;
    }
    h2 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 1.5em;
    }

    header {
      height: inherit;
    }
    header span.date-icon {
      border: 0;
      padding-right: 0;
      padding-left: 0;
    }
    header span.email-icon {
      padding-top: 0;
    }

    .navbar-default .navbar-nav li a {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @media only screen and (max-width: 992px) {
    .slider .item {
      background-position: center;
    }

    header {
      padding-bottom: 10px;
    }
    header .text-align-right {
      text-align: left;
    }
    header span {
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border-color: transparent;
    }
    .navbar-default .navbar-nav li.appointment-btn {
      margin-left: 15px;
    }
    .navbar-default .navbar-nav li a {
      display: inline-block;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .news-sidebar {
      margin-top: 2em;
    }

    #appointment-form {
      padding-top: 4em;
      padding-bottom: 4em;
    }

    footer {
      padding-top: 60px;
      padding-bottom: 0;
    }
    .footer-thumb {
      padding-bottom: 10px;
    }

    .border-top {
      text-align: center;
    }

    .copyright-text {
      margin-top: 10px;
    }

    .angle-up-btn {
      bottom: 10em;
    }
  }

  @media only screen and (max-width: 639px) {
    h1 {
      font-size: 3em;
      line-height: 1.2em;
    }
    h2 {
      font-size: 2.1em;
    }
    h4 {
      font-size: 1.4em;
    }

    #home h3 {
      font-size: 11px;
      letter-spacing: 1px;
    }

  }

